.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  max-height: 100vh;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  color: white;
  padding: 50px;
}

.above{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  width: 750px;
  gap: 10px;
  padding: 10px;
}

.bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

button,input {
  min-width: 50px;
  min-height: 50px;
}

input{
  font-size: larger;
}

button {
  cursor: pointer;
}